html {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins", sans-serif;
  margin: 0 auto;
  background: #fff;
}

ul {
  list-style: none !important;
  padding: 0 !important;
}

a {
  color: #0170b9;
  text-decoration: none;
}

a:hover {
  color: #3a3a3a;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

img {
  max-width: 100%;
  vertical-align: middle;
}

.me-5 {
  margin-right: 5px;
}

.my-15 {
  margin-top: 15px;
  margin-bottom: 15px;
}

.btn {
  display: inline-block;
  text-align: center;
  padding: 16px 32px;
  background-color: #08c757;
  color: #fff;
  font-weight: bold;
  line-height: 1;
  cursor: pointer;
  border-radius: 6px;
}

.btn .btn-text {
  word-wrap: break-word; /* å…è®¸åœ¨å•è¯å†…éƒ¨æ–­è¡Œ */
  word-break: break-all; /* å…è®¸åœ¨ä»»ä½•å­—ç¬¦ä¹‹é—´æ–­è¡Œ */
}

.default-width {
  max-width: 630px;
}

.el-container {
  margin: 0 auto;
}

.el-row {
  width: 100%;
  display: flex;
  align-items: center;
}

.content-container {
  padding: 5px;
}

.content {
  width: 100%;
  height: auto;
  overflow: hidden;
  font-size: 13pt;
  line-height: 1.85714285714286;
  margin-top: 15px;
  margin-bottom: 70px;
}

.content p {
  padding: 0 !important;
  margin: 0 !important;
}

.fixed-wrap {
  position: fixed;
  width: 100%;
  text-align: center;
  margin-top: 0px;
  margin-bottom: 0px;
  bottom: 5px;
}

.text-wrap {
  position: relative;
}

.content data[data-w-e-type="video"] {
  width: 100%;
  margin: 0 auto;
}

.content div[data-w-e-type="video"] video {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
}

.top {
  position: relative;
}

.top img {
  width: 100%;
}

.top-widget {
  width: 100%;
  position: absolute;
  bottom: 5rem;
  left: 50%;
  transform: translateX(-50%);
}

.top-widget {
  text-align: center;
}

.top-widget .btn {
  font-size: 2rem;
  background-color: #e71e00;
  border-radius: 50px 50px 50px 50px;
  letter-spacing: 5px;
}

.fixed-widget .btn {
  min-width: 200px;
  max-width: 80%;
}

@media (max-width: 767px) {
}

.personal_profile {
  width: 100%;
  margin: 20px auto;
}
.personal_profile .title {
  background: #f3f3f3;
}
.personal_profile .title h3 {
  padding: 0.5rem;
}
.personal_profile .pic {
  float: left;
  margin-right: 1rem;
}
